{% extends 'base.html.twig' %}

{% block title %}Iniciar Sessió{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow border-0 p-4">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 fw-bold text-center">🔐 Iniciar Sessió</h1>
                
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Contrasenya</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Recorda'm
                    </label>
                </div>

                <button class="btn btn-lg btn-primary w-100" type="submit">
                    Entrar
                </button>
                
                <div class="mt-3 text-center">
                    No tens compte? <a href="{{ path('app_register') }}">Registra't aquí</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
