{% extends 'base.html.twig' %}

{% block title %}Publicar Nou Producte{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow border-0 p-4">
                <h1 class="h3 mb-4 fw-bold">➕ Publicar Nou Producte</h1>

                {{ include('product/_form.html.twig') }}

                <hr class="my-4">
                <a href="{{ path('app_product_index') }}" class="btn btn-link text-decoration-none px-0">
                    &larr; Tornar al llistat
                </a>
            </div>
        </div>
    </div>
{% endblock %}
